<%- include('header') -%>

<div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
        <h1 class="text-center mb-4">Mission Statement</h1>
        <p class="h4 text-center"><em>"We ignite talents with advancing opportunities."</em></p>
        <hr class="my-4">
        <h1 class="text-center">Our Team</h1>
        <div class="row text-center">
                <div class="col-lg-6">
                    <img class="rounded-circle my-4" src="/images/duttaditya18.jpg" alt="duttaditya18" width="140" height="140">
                    <h2>Aditya Dutt</h2>
                    <p><a class="btn btn-secondary" href="https://github.com/duttaditya18" role="button">Github »</a></p>
                </div>
                <div class="col-lg-6">
                    <img class="rounded-circle my-4" src="/images/ishan.png" alt="ishan" width="140" height="140">
                    <h2>Ishan Goswami</h2>
                    <div class="text-left">
                        <p>We at ExploreEvents.org helps the young enthusiastic brains from every field to discover events , competition and workshops happening around them.</p>
                        <p>It opens the doors for new oppturnities and apprise them with platform to showcase their talents.
                        <br>We connect aspirants with our huge network of organisers , which tremendously benefits them.
                        <br>We are inspired to do more , our innovative efforts are aligned with our motto.</p>
                        <p class="text-center">"Make the world a Better place"</p>
                    </div>
                            
                    <p><a class="btn btn-secondary mr-3" href="https://facebook.com/ig321" role="button">Facebook »</a><a class="btn btn-secondary" href="https://instagram.com/ishan_goswami" role="button">Instagram »</a></p>
                </div>
            </div>
        <hr class="my-4">
        <div class="text-center">
            <h1 class="my-3">It's never too late to say Hello!</h1>
            <p class="my-3">Send us your queries and suggestions</p>
            <a class="btn btn-outline-primary" href="mailto:exploreevents@gmail.com" role="button">Mail Us</a>
        </div>
    </div>
</div>

<%- include('footer') -%>