    <!-- footer-->
    <footer class="container py-2">
        <hr>
        <p class="float-right"><a href="#nav">Back to top</a></p>
        <p> All rights Reverved · &copy; · 2018 ExploreEvents Inc.</p>
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/fuse.min.js"></script>
    <script src="/js/main.js"></script>
</body>