<%- include('header') -%>

<div class="jumbotron hero">
    <div class="row">
        <div class="top-hero">
            <p>Discover the</p>
            <p>Events</p>
            <p>Workshops</p>
            <p>& Competitions</p>
            <p>Around you!</p>
        </div>
    </div>
    <div class="btn-hero text-center">
        <a class="btn btn-outline-primary btn-lg" href="/events" role="button">See Upcoming Events</a>
    </div>
</div>

<%- include('footer') -%>